{% extends 'base.html' %}

{%block title %}Board{%endblock%}


{%block body%}
<section id="board">
<table class="board">
    <tbody>
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</section>


<form class = "guess-from" name = "guess-form" method="POST">
    <div>
    <label for="guess">Guess a word!</label>
    <input class ="guess" type="text" name= "guess" placeholder="Enter Guess:">
    <button>Submit!</button>

    </div>
    <!-- <button>Submit!</button> -->
</form>

<p class = "result"> </p>
<p class = "score"> Score:0</p>
<p class="highscore"> Highscore:0</p>
<p class="numberOfPlays"> Number Of Plays: 0</p>
{%endblock%}

<!--
- Author: Mahad Osman
- Date: Nov 26, 2022
- Assignment: Flask Boggle
-->